{% load static %}
<footer>
    <div class="container">
      <div class="content">
        <div class="left box">
          <div class="upper">
            <div class="topic">About us</div>
            <p>We Are Here To Help Students To Improve There Knowledge.</p>
          </div>
          <div class="lower">
            <div class="topic">Contact us</div>
            <div class="phone">
              <a class="bi bi-whatsapp" style="color: rgb(255, 247, 247); text-decoration: none;"
                href="https://wa.me/3175275637"> +923175275637</a>
            </div>

            <div class="email">
              <a class="hovering" href="mailto:slonotes786@gmail.com" style="color: white; text-decoration: none;"><i
                  class="fas fa-envelope"></i>slonotes786@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="middle box">
          <div class="topic">Our Services</div>
          <div><a href="./9thSub.html" class="hovering" style="color: white; text-decoration: none;">9th
              Class Notes</a></div>
          <div><a href="./10thSub.html" class="hovering" style="color: white; text-decoration: none;">10th Class
              Notes</a></div>
          <div><a href="./11thSub.html" class="hovering" style="color: white; text-decoration: none;">11th Class
              Notes</a></div>
          <div><a href="./12thSub.html" class="hovering" style="color: white; text-decoration: none;">12th Class
              Notes</a></div>
        </div>
        <div class="right box">
          <div class="topic">Made With ❤ By 🇵🇰</div>
          <div class="policy d-grid">
            <a class="hovering" style="margin-bottom: 8px; text-decoration: none; color: white;"
              href="./disclimar.html">Disclaimer</a>
            <a class="hovering" style="margin-bottom: 8px; text-decoration: none; color: white;"
              href="./Privacy Policy.html">Privacy Policy</a>
            <a class="hovering" style="margin-bottom: 8px; text-decoration: none; color: white;"
              href="./DMCA.html">DMCA Policy</a>
            <a class="hovering" style="margin-bottom: 8px; text-decoration: none; color: white;"
              href="./sitemap.xml">Site Map</a>
            <a class="hovering" style="margin-bottom: 8px; text-decoration: none; color: white;"
              href="./cont.html">About Content</a>

          </div>
          <div class="media-icons">
            <a class="hovering" style="color: white; text-decoration: none;"
              href="https://www.facebook.com/profile.php?id=61551084657822&mibextid=ZbWKwL"><i
                class="fab fa-facebook-f"></i></a>
            <a class="hovering" style="color: white; text-decoration: none;"
              href="https://instagram.com/slonotes786?igshid=NzZlODBkYWE4Ng=="><i class="fab fa-instagram"></i></a>
            <!-- <a class="hovering" style="color: white; text-decoration: none;" href="#"><i
                                class="fab fa-twitter"></i></a> -->
            <a class="hovering" style="color: white; text-decoration: none;"
              href="https://youtube.com/@SLONOTES?si=YOhKJ_Cye2Ro8mX2"><i class="fab fa-youtube"></i></a>
            <!-- <a class="hovering" style="color: white; text-decoration: none;" href="#"><i
                                class="bi bi-tiktok"></i></a> -->
          </div>
          </form>
        </div>
      </div>
      <div class="bottom ii">
        <p>Copyright © 2023-24 <a href="{url 'home'}">SLO Notes</a> All rights reserved</p>
      </div>
    </div><!-- /.container -->
  </footer>


</div><!-- /.page-wrapper -->
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



<script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "SLO NOTES",
        "url": "https://slonotes.site",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://slonotes.site/index.html{search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
      </script>