{% load static %}
{% include 'header.html' %}
    <div class="img-tag" style="display: flex; justify-content: center;">
      <img style="width: 35%;" src="{% static 'images/786.png' %}" alt="">
    </div><!-- /.img-tag -->
    <div class="head pb-5">
      {% for h in home %}
      <div class="container">
        <p class="name mt-5">{{h.heading}}</p><br><br><br>
        <h1 id="main">{{h.title}}</h1>
        <br><br><br>
        <p id="main">{{h.description}}<br><br>
        </p>
      </div>
      {% endfor %}
    </div>

    <div class="carousel-index mt-5 py-5" style="background-color: rgb(239, 243, 238);">
      <div class="container">
        {% if carousel %}
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for c in carousel %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <a href="{{ c.url }}">
                <img src="media/{{ c.image }}" class="d-block w-100 img-size-set" alt="Carousel Image">
              </a>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span style="background-color: black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span style="background-color: black;" class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {% endif %}
      </div><!-- /.container -->
    </div><!-- /.carousel-index -->
    

    <div class="card-wrapper">
      <div class="container">
        <h2 class="note mt-5">Notes</h2>
        <div class="row mt-4">
          {% if card %}
          {% for cards in card %}
          <div class="col-sm-6 col-lg-3 mb-4">
            <a href="{% url 'subject_detail' cards.category.slug %}" class="nav-link">
              <div class="card">
                <img src="media/{{cards.image}}" class="card-img-top" alt="9th Class|SLO Notes">
                <div class="card-body">
                  <h4 class="card-title">{{cards.name}}</h4>
                  <p class="card-text mb-4">{{cards.description}}</p>
                  <a href="{% url 'subject_detail' cards.category.slug %}" class="nav-link"
                    style="background-color: #262b5e; color: white;border-radius: 4px;text-align: center;padding: 8px;">Get
                    Notes</a>
                  
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
          {% endif %}
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.card-wrapper -->


</body>
{% include 'footer.html' %}
</html>